* {
  margin: 0;
  padding: 0;
}
:root {
  --accent-color: #f4ce14;
  --secondary-color: #495e57;
  --light-color: #d9d9d9;
}
html {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media screen and (max-width: 1000px) {
  html {
    scroll-snap-type: none;
  }
}
